/* FONT, RESET, VAR */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-daniel: hsl(263, 55%, 52%);
    --bg-jonathan: hsl(217, 19%, 35%);
    --bg-patrick: hsl(219, 29%, 14%);
    --bg-jeanette-kira: hsl(0, 0%, 100%);
    --text-men: hsl(0, 0%, 81%);
    --bg-body: hsl(210, 46%, 95%);
    --bor-c-clifford: hsl(269, 40%, 63%);
    --bor-c-walters: hsl(26, 4%, 63%);
    --font: 'Barlow Semi Condensed', sans-serif;
}

/* MAIN LAYOUT */
body {
    min-height: 100vh;
    background-color: var(--bg-body);
    font-family: var(--font);
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    width: 1000px;
    height: 600px;
    display: grid;
    gap: 25px;
    grid-template: 1fr 1fr / repeat(4, 1fr);
}

/* BOXES */
/* One by one */
#clifford-review {
    grid-column-start: span 2;
    order: 0;
    background: var(--bg-daniel) url(./images/bg-pattern-quotation.svg) no-repeat 83% 0;
}

#walters-review {
    order: 1;
    background-color: var(--bg-jonathan);
}

#whittle-review {
    grid-row-start: span 2;
    order: 2;
    background-color: var(--bg-jeanette-kira);
}

#harmon-review {
    order: 3;
    background-color: var(--bg-jeanette-kira);
}

#abrams-review {
    grid-column: 2 / 4;
    order: 4;
    background-color: var(--bg-patrick);
}

/* All boxes */
article {
    padding: 25px;
}

.box {
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(173, 171, 171);
}

.men-text {
    color: var(--text-men);
}

.degree {
    font-size: 10px;
    opacity: 0.5;
}

.abstract {
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}

.review {
    opacity: 0.7;
    line-height: 18px;
}

.name,
.review {
    font-size: 12px;
}

.name, .abstract {
    font-weight: 600;
}

.degree, .review {
    font-weight: 500;
}

.identity {
    display: flex;
}

.profile {
    margin-left: 15px;
    line-height: 15px;
}

/* Images */
figure img {
    border-radius: 50%;
    width: 30px;
}

#clifford img {
    border: 2px solid var(--bor-c-clifford);
}

#walters img {
    border: 2px solid var(--bor-c-walters);
}

#harmon img,
#whittle img {
    border: 2px solid var(--bg-jeanette-kira);
}

#abrams img {
    border: 2px solid var(--bg-daniel);
}

/* FOOTER */

.attribution {
    position: fixed;
    bottom: 15px;
    font-size: 13px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
@media (max-width: 999px){

    #main {
        max-width: 100%;
        width: 600px;
        height: 1600px;
        grid-template: repeat(9, auto) / auto;
        padding: 20px;
        margin: 50px 0;
    }

    #clifford-review {
        grid-row-start: span 2;   
        grid-column: 1 / 2;     
    }
    
    #walters-review {
        grid-row: 3 / 4;
    }
    
    #harmon-review {
        order: 2;
        grid-row: 4 / 5;
        grid-column: span;     

    }

    #abrams-review {
        order: 3;
        grid-row: 5 / 7;
        grid-column: 1 / 2;
    }

    #whittle-review {
        order: 4;
        grid-row: 7 / 9;
        grid-column: span;     
    }

    .box {
        word-break: break-all;
        max-height: fit-content;
    }

    #hidden-footer {
        display: none;
    }
}
